.education h2 {
	text-align: center;
	margin-bottom: var(--sectionYPadding);
}

.education_item {
	margin-bottom: 30px;
}

.education_item:last-child {
	margin-bottom: 0;
}

.education_item img {
	width: 40%;
	margin-right: 25px;
	border: 1px solid var(--borderGrey);
}

.education_item div {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.education_item h3 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 3px;
	color: var(--textGrey);
}

.education_item h4 {
	font-weight: 200;
	font-size: 14px;
	margin-bottom: 15px;
}

.education_item ul {
	list-style-type: circle;
	padding-left: 22px;
	font-size: 14px;
	line-height: 1.5;
}

.edu_mobile {
	display: none;
}

@media screen and (max-width: 860px) {
	.edu_desktop {
		display: none;
	}

	.edu_mobile {
		display: block;
	}

	.education_item h3 {
		margin-top: 20px;
	}

	.education_item h3 {
		font-size: 15px;
	}

	.education_item h4,
	.education_item ul {
		font-size: 12px;
	}
}

@media screen and (max-width: 770px) {
	.education_item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.education_item img {
		width: 100%;
	}

	.education_item p {
		margin-top: 15px;
	}
}
