.home {
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	padding: 0;
}

.page_title {
	font-size: 46px;
	margin-bottom: 50px;
	text-align: center;
	letter-spacing: -3px;
	line-height: 1.1;
}

.page_title h2 {
	font-weight: 100;
	color: #eee;
}

.page_title h1 {
	font-weight: 700;
	font-size: 60px;
	color: #fff;
}

.page_description {
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	font-weight: 300;
}

.page_description b {
	font-size: 26px;
	font-weight: 700;
	padding-left: 12px;
}

.cv_wrapper {
	border: 2px solid var(--fadeWhite);
	padding: 10px 25px;
	font-size: 20px;
	cursor: pointer;
	margin-top: 25px;
	color: #fff;
	transition: all 0.3s ease 0s;
	position: relative;
	height: 50px;
	overflow: hidden;
	font-weight: 300;
	transition: 0.5s;
	letter-spacing: 1px;
}

.cv_wrapper a {
	width: 100%;
	height: 100%;
	font-size: 14px;
	letter-spacing: 1px;
	border: none;
	color: #fff;
	cursor: pointer;
}

@media screen and (max-width: 620px) {
	.page_title {
		font-size: 35px;
		margin-bottom: 25px;
	}

	.page_title h1 {
		font-size: 50px;
	}

	.page_description {
		font-size: 16px;
	}

	.page_description b {
		font-size: 20px;
	}

	.cv_btn {
		font-size: 16px;
	}
}

@media screen and (max-width: 450px) {
	.page_title {
		font-size: 30px;
	}

	.page_title h1 {
		font-size: 40px;
	}

	.page_description {
		font-size: 13px;
	}

	.page_description b {
		font-size: 18px;
		padding-left: 4px;
	}
}

@media screen and (max-width: 350px) {
	.page_description {
		font-size: 12px;
	}
}
