:root {
	--mainWidth: 1110px;
	--borderGrey: #444;
	--textGrey: #212529;
	--lightGrey: rgba(0, 0, 0, 0.15);
	--mainBlue: #0075f6;
	--lightBlue: #2594ff;
	--fadeWhite: #f0f0f0;
	--lightWhite: #f8f9fa;
	--darkWhite: #dfdfdf;
	--sidePadding: 20px;
	--sectionYPadding: 60px;
}

@media screen and (max-width: 1240px) {
	:root {
		--mainWidth: 1000px;
	}
}

@media screen and (max-width: 1140px) {
	:root {
		--mainWidth: 900px;
		--sidePadding: 35px;
	}
}

@media screen and (max-width: 980px) {
	:root {
		--mainWidth: 100%;
	}
}

@media screen and (max-width: 860px) {
	:root {
		--sectionYPadding: 40px;
	}
}

@media screen and (max-width: 620px) {
	:root {
		--sidePadding: 28px;
	}
}

@media screen and (max-width: 520px) {
	:root {
		--mainWidth: 100%;
		--sidePadding: 20px;
	}
}
