.about {
	padding-top: 30px;
}

.about-text-wrapper {
	margin-top: 20px;
}

.about h2 {
	padding-right: 20px;
}

.about img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	border: 7px solid var(--borderGrey);
	transition: -webkit-filter 0.4s;
	-webkit-transition: -webkit-filter 0.4s;
	-o-transition: filter 0.4s;
	-moz-transition: filter 0.4s;
	transition: filter 0.4s;
	transition: filter 0.4s, -webkit-filter 0.4s;
	transition: filter 0.4s, -webkit-filter 0.4s;
	margin-left: 50px;
}

.about img:hover {
	-webkit-filter: grayscale(85%);
	filter: grayscale(85%);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.about p {
	line-height: 1.5;
	font-size: 14px;
}

@media screen and (max-width: 770px) {
	.about img {
		display: none;
	}
}
