.header {
	width: 100vw;
	height: 72px;
	padding: 0 var(--sidePadding);
	position: fixed;
	z-index: 10;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.nav-links a {
	color: var(--fadeWhite);
	font-size: 14px;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 600;
}

.header div > a {
	flex-grow: 1;
}

.header b {
	color: var(--fadeWhite);
	font-size: 28px;
	font-weight: 700;
}

.header img {
	display: none;
	width: 26px;
	cursor: pointer;
}

.nav-links a:first-child {
	padding-left: 0;
}

.nav-links a:hover,
.header b:hover {
	color: #fff;
}

.header-scrolled {
	background-color: #000;
	-webkit-transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

/* Main menu positionning */
.main-nav {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	background: var(--darkWhite);
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	transition: all 0.375s;
}

.main-nav.is-open {
	opacity: 1;
	z-index: 100;
	visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -15px;
	background: var(--textGrey);
	transform-origin: 0 0;
	transform: skew(-14deg) translateX(-120%);
	transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
	transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
	display: inline-flex;
	flex-direction: column;
	height: 93%; /* Should be 100%, but we have a notice message :D */
	align-items: flex-end;
	justify-content: center;
	transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
	display: block;
	margin: 0.5rem 0;
	text-align: right;
	transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
	opacity: 0;
	transform: translateY(-10px);
}

.main-nav.is-open a {
	opacity: 1;
	transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms;
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms;
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms;
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms;
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #fff;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: relative;
	z-index: 1000;
	padding-top: 20px;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: none;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: #fff;
	transform: skew(5deg);
	transition: all 0.275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #fff;
	transition: all 0.275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
	opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: 0.675rem;
	letter-spacing: 0.05em;
	margin-top: 0.5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #fff;
}

/* Notice */
.notice {
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	padding: 20px;
	background: #f2f2f2;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	z-index: 100;
	text-align: center;
}
.notice strong {
	font-weight: 700;
}
.notice a {
	padding: 2px 3px;
	background: #fedc2a;
	text-decoration: none;
}
