.experience h2 {
	text-align: center;
	margin-bottom: var(--sectionYPadding);
}

.company_img {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid var(--borderGrey);
}

.connection_line {
	background-color: var(--borderGrey);
	width: 3px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.empty_circle {
	background-color: #fff;
	border: 3px solid var(--borderGrey);
	width: 24px;
	height: 24px;
	margin-left: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.experience_item {
	-webkit-clip-path: polygon(10px 0, 100% 0%, 100% 100%, 10px 100%, 10px 42px, 0 32px, 10px 22px);
	clip-path: polygon(10px 0, 100% 0%, 100% 100%, 10px 100%, 10px 42px, 0 32px, 10px 22px);
	padding: 15px 20px 15px 40px;
	background-color: var(--lightWhite);
	margin-left: 10px;
	margin-bottom: 20px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.exp_mobile {
	display: none;
}

.experience_item h3 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 3px;
	color: var(--textGrey);
}

.experience_item h4 {
	font-weight: 200;
	font-size: 14px;
	margin-bottom: 15px;
}

.experience_item ul {
	list-style-type: circle;
	padding-left: 22px;
	font-size: 14px;
	line-height: 1.5;
}

@media screen and (max-width: 860px) {
	.company_img {
		width: 45px;
		height: 45px;
		border: 2px solid var(--borderGrey);
	}

	.exp_desktop {
		display: none;
	}

	.exp_mobile {
		display: block;
	}

	.connection_line {
		width: 2px;
	}

	.experience_item {
		padding-bottom: 0;
		-webkit-clip-path: polygon(10px 0, 100% 0%, 100% 100%, 10px 100%, 10px 32px, 0 22px, 10px 12px);
		clip-path: polygon(10px 0, 100% 0%, 100% 100%, 10px 100%, 10px 32px, 0 22px, 10px 12px);
	}

	.experience_item h3 {
		font-size: 16px;
	}

	.experience_item h4 {
		font-size: 12.5px;
	}

	.experience_item ul {
		font-size: 15px;
	}

	.experience_item ul {
		padding-left: 0px;
	}

	.experience_item ul li {
		margin-bottom: 10px;
	}

	.empty_circle {
		margin-left: 10px;
	}
}
